.main{
   height: 450px;
margin: 5px 30px 5px 30px;
display: flex;
}
h2{
   color:black;
    font-size: 20px;
    font-size: 30px;
    font-weight: 700;
}
p{
    font-size: 20px;
    color: black;
}
.main div{
    width: 50%;
    height: 500px;
    padding-top: 180px;
}
.main-div{
    justify-content:center;
 
}
.images{
    height: 500px;
    width: auto;
    float: left;

}
.icons{
    background-color: black;
    color : black;
    display: inline;
}
div span {
    size: 40px;
}
